@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --network-white: #f5eee7;
  --network-black: #0c0b0b;
  --network-brown: #5c4a08;
  --network-dark-yellow: #ac8905;
  --network-yellow: #fcc902;

  --bloghub-dark: #001c42;
  --bloghub-orange-1: #ff8100;
  --bloghub-orange-2: #da7209;
  --bloghub-orange-3: #b66412;
  --bloghub-orange-4: #91551c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family:'Courier New', Courier, monospace;
  background: url("/bg-img.jpg");
}

.app-header {
  background: var(--network-white);
  @apply py-6 shadow-neutral-100
}

.app-block {
  background: var(--network-white);
  padding: 10px 24px 18px;
  width: 100%;
  @apply rounded-3xl
}

.app-text_black {
  color: var(--network-black);
  font-size: 20px;
}

.btn-dark-yellow {
  background: var(--network-dark-yellow);
}

.btn-yellow {
  background: var(--network-yellow);
}

.app-btn {
  font-size: 20px;
  border: 1px solid var(--network-yellow);
  font-weight: 800;
  @apply font-bold px-4 rounded-full text-gray-700
}

.btn-yellow:hover {
  border: 1px solid var(--network-dark-yellow);
}

h1 {
  color: var(--network-yellow);
}

.link {
  font-size: 20px;
  @apply font-bold
}

.link:hover {
  @apply underline underline-offset-1
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-option {
  @apply p-4 m-4
}